/* Stili per schermi più piccoli, come i dispositivi mobili */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url("https://assetsio.gnwcdn.com/digitalfoundry-2020-cyberpunk-2077-high-end-pc-tech-analysis-1607620712399.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .boxBadge  {
        width: 320px;
        height: 50px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 50px;
        margin-left: calc(50% - 160px);
        border-radius: 15px;
        opacity: 1;
    }
    
    .badge{
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 16px;
    }
    
    .boxProfile {
        width: 320px;
        height: 350px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 30px;
        margin-left: calc(50% - 160px);
        border-radius: 15px;
        opacity: 1;
        
    }
    
    #image {
        width: 70px;
        height: 70px;
        border-radius: 20%;
        margin-top: 20px;
        margin-left: 120px;
    }
    
    #image:hover{
        transition: all 3s ;
        border-radius: 100%;
    }
    
    .userName{
        font-size: 20px;
        color: white;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        position: static;
    }
    
    .userDescription {
        color: white;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 70;
        font-style: normal;
        position: static;
    }
    
    #link {
        width: 30px;
        height: 30px;
        margin-top: 50px;
        margin-left: 16px;
    }
    
    #link:hover {
        transform: scale(1.2);
    }
  }
  
  
  /* Stili per schermi di dimensioni medie, come i tablet */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url("https://assetsio.gnwcdn.com/digitalfoundry-2020-cyberpunk-2077-high-end-pc-tech-analysis-1607620712399.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .boxBadge  {
        width: 400px;
        height: 70px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 50px;
        margin-left: calc(50% - 200px);
        border-radius: 15px;
        opacity: 1;
    }
    
    .badge{
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 11px;
    }
    
    .boxProfile {
        width: 400px;
        height: 350px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 30px;
        margin-left: calc(50% - 200px);
        border-radius: 15px;
        opacity: 1;
        
    }
    
    #image {
        width: 70px;
        height: 70px;
        border-radius: 20%;
        margin-top: 20px;
        margin-left: 160px;
    }
    
    #image:hover{
        transition: all 3s ;
        border-radius: 100%;
    }
    
    .userName{
        font-size: 20px;
        color: white;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        position: static;
    }
    
    .userDescription {
        color: white;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 70;
        font-style: normal;
        position: static;
    }
    
    #link {
        width: 50px;
        height: 50px;
        margin-top: 50px;
        margin-left: 11px;
    }
    
    #link:hover {
        transform: scale(1.2);
    }
  }
  
  @media only screen and (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url("https://assetsio.gnwcdn.com/digitalfoundry-2020-cyberpunk-2077-high-end-pc-tech-analysis-1607620712399.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .boxBadge  {
        width: 400px;
        height: 70px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 100px;
        margin-left: calc(50% - 200px);
        border-radius: 15px;
        opacity: 1;
    }
    
    .badge{
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 11px;
    }
    
    .boxProfile {
        width: 400px;
        height: 350px;
        background-color: rgba(17, 17, 17, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 50px;
        margin-left: calc(50% - 200px);
        border-radius: 15px;
        opacity: 1;
        
    }
    
    #image {
        width: 70px;
        height: 70px;
        border-radius: 20%;
        margin-top: 20px;
        margin-left: 170px;
    }
    
    #image:hover{
        transition: all 3s ;
        border-radius: 100%;
    }
    
    .userName{
        font-size: 30px;
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        position: static;
    }
    
    .userDescription {
        color: white;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 70;
        font-style: normal;
        position: static;
    }
    
    #link {
        width: 50px;
        height: 50px;
        margin-top: 50px;
        margin-left: 11px;
    }
    
    #link:hover {
        transform: scale(1.2);
    }
  }
  